{% load static %}
<footer>
	<a href="#home_page">
		<div class="logo">
			<img src="{% static 'imgs/Group 41.svg' %}" alt="" />
			<p class="text_logo">Рекламная<br />компания А4</p>
		</div>
	</a>
	<div class="sub_menu">
		<div class="left_menu">
			<a href="{% url 'home' %}#about_comp">
				<p>о компании</p>
			</a>
			<a href="{% url 'home' %}#contact">
				<p style="margin: 11px 0;">контакты</p>
			</a>
			<a href="{% url 'reviews' %}">
				<p>отзывы</p>
			</a>
		</div>
		<div class="line"></div>
		<div class="right_menu">
			<a href="{% url 'projects' %}">
				<p>проекты</p>
			</a>
			<a href="{% url 'services_brand' %}">
				<p style="margin: 11px 0;">услуги</p>
			</a>
			<a href="{% url 'packages' %}">
				<p>цены</p>
			</a>
		</div>
	</div>
</footer>