{% extends 'base.html' %}

{% block title %}Пароль изменен{% endblock %}

{% block content %}
<style>
    .text {
        color: white;
        font-size: 33px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
    }
    .link {
        text-decoration: none;
        color: white;
        font-size: 24px;
        opacity: 0.6;
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
<h2>Пароль успешно изменен</h2>
<p class="text">Ваш пароль был успешно изменен.</p>
<a class="link" href="{% url 'profile' %}">Вернуться в профиль</a>
{% endblock %}