.content_home_page {
    display: flex;
    flex-direction: column;
    padding: 124px 150px 204px 150px;
    height: 100%;
    font-family: Jura;
}

/* ******************************************** */


/* *********************************************** */
.title_home_page {
    color: white;
    font-size: 36px;
    text-align: center;
    margin-bottom: 29px;
}

.content_home_page img {
    height: 1px;
}

.blocks_price {
    display: flex;
    justify-content: space-between;
    margin-top: 154px;
}

.block {
    background-color: #5A1010F7;
    width: 400px;
    height: 588px;
    padding: 19px 36px 52px 36px;
    display: flex;
    flex-direction: column;
}

.title_price {
    width: 327px;
    height: 97px;
    background-color: white;
    color: #5A1010F7;
    font-size: 32px;
    text-align: center;
    margin-bottom: 52px;
}

.desc_block {
    color: white;
    font-size: 20px;
}

.blocks_price button {
    width: 205px;
    height: 59px;
    color: black;
    background-color: #5A1010F7;
    border: 2px solid black;
    font-family: Orbitron;
    font-size: 24px;
}

.blocks_price button:hover {
    transition: .3s;
    background-color: #8C2727;
}


.blocks_price form {
    width: 205px;
    height: 59px;
    margin: 110px auto 0 auto;
}