{% extends 'base.html' %}
{% load static %}

{% block title %}Рекламная компания А4{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/reviews.css' %}">
{% endblock %}

{% block content %}
<div class="content_home_page">
  <p class="title_home_page">Отзывы</p>

  <!-- Модальное окно -->
  <div id="ModalWindow" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <div class="modal-body">
        <form id="reviewForm" class="review_form" method="post" action="{% url 'reviews' %}">
          {% csrf_token %}
          <p class="review_title_form">
            <b>Оставьте отзыв о нашей компании! С благодарностью, <br><span>“Рекламная компания “А4”</span></b>
          </p>
          <textarea id="reviewText" name="text" class="review_input" placeholder="Напишите отзыв" required></textarea>
          {% if user.is_authenticated %}
            <button type="submit" class="auth-button">Отправить отзыв</button>
          {% else %}
            <p class="auth-message">Чтобы оставить отзыв, <a href="{% url 'login' %}">авторизуйтесь</a>.</p>
          {% endif %}
        </form>
      </div>
    </div>
  </div>

  <!-- Список отзывов -->
  <div class="reviews-list">
    <button class="submit" id="openModalWindow">Оставить отзыв</button>
    {% if reviews %}
      {% for review in reviews %}
      <div class="review-item">
        {% if review.author.avatar %}
          <img src="{{ review.author.avatar.url }}" class="review-avatar">
        {% else %}
          <img src="{% static 'imgs/default-avatar.jpg' %}" class="review-avatar">
        {% endif %}
        <div class="review-content">
          <div class="review-header">
            <p class="review-author">{{ review.author }}</p>
            <p class="review-date">{{ review.created_at|date:"d.m.Y" }}</p>
          </div>
          <p class="review-text">{{ review.text }}</p>
        </div>
      </div>
      {% endfor %}
    {% else %}
      <div class="review-item">
        <p class="review-text" style="display: flex; justify-content: center; font-size: 30px">Ваш отзыв может стать первым!</p>
      </div>
    {% endif %}
  </div>
</div>
<script src="{% static 'js/openModal.js' %}"></script>
{% endblock %}